body {
    padding-top: 63px;
}

.chkBooklist {
    bottom: 5px;
    position: relative;
    right: 20px;
}

.checkbox.chkBooklist input {
    position: relative;
    top: 5px;
}

div#booksModal.modal .allChkLabel {
    font-size: 24px;
}

#booksModal .modal-dialog, #booksModalTestMaterial .modal-dialog, #booksModalRefMaterial .modal-dialog
{
    width: 950px;
}


#resultsHeader {
    width: 100%;
    margin-bottom: 10px;
}

#switchView {
    position: relative;
    top: 13px;
}


.clicSelectSmallLabel {
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.clicSelectSmall {
    width: 40%;
}

table .nowrap {
    white-space: nowrap;
}

/*Datatables overrides*/
/*.dataTables_info {*/
   /*margin-top: 5px;*/
/*}*/