<div class="col-sm-3 padded pull-right">
  <div class="sideHead well">
      <i class="fa fa-comment-o fa-4x"></i>
      <h4>Want to tweet?</h4>
      <p>We'd love to be in contact! Feel free to use the button below:</p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Analysing literary characterisation using corpus linguistics" data-size="large" data-related="JdeJoode_,MichaMahlberg" data-count="none" data-hashtags="clic-project" data-dnt="true">Tweet</a>
  </div>
</div>

<!-- Tweet button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
