<!doctype html>
<html>
<head>
<title>Clusters</title>

{% autoescape false %}
{% if clusters %}
  <script>
  var clusters = {{clusters}}
  </script>
{% endif %}
{% endautoescape %}


<style>

table{
	width:75%;
	margin:1em auto;
}
td, th {
  width: auto;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 1rem;
}


</style>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://jashkenas.github.io/underscore/underscore-min.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script>
/**
 * Keyword handler javascript
 *
 */
(function (keywordHandler, $, _,undefined) {



        keywordHandler.processor = function(data)
        {

            var tmplMarkup = $('#tmpl-clusters').html();

                if(_.isEmpty(data)){

                        $('#clusters').html("<p>no clusters</p>");
                    }
                    else
                    {
                    var compiledTmpl = _.template(tmplMarkup, { clusters : data["clusters"] });

                    $('#clusters').html(compiledTmpl);

                  }



        }



}(window.keywordHandler = window.keywordHandler ||{},jQuery,_));

</script>






<meta charset="utf-8">

</head>
<body>
 <div id="clusters">
               <p> Loading clusters </p>
                <script id="tmpl-clusters" type="text/template">
                    <table id="tablesorter">
                    <thead>
					<tr><th>
						Keyword
					</th>
					<th>Test Frequency</th>
					<th>Ref Frequency</th>
					<th>Log likelihood</th>
					</tr>
					</thead>
					<tbody>
                    <% for (var i = 0; i < clusters.length; i++) { %>
                      <% var keyword = clusters[i]; %>
                      <tr>
                        <td><%= keyword[0] %></td>
                        <td><%= keyword[1] %></td>
                        <td><%= keyword[2] %></td>
                        <td><%= keyword[3] %></td>
                      </tr>
                    <% } %>
                    </tbody>
                 <table>

                </script>

 </div>
</body>
<script>
keywordHandler.processor(clusters);
$(document).ready(function(){
	$("#tablesorter").tablesorter();
	}
	);
</script>
</html>
