<!doctype html>
<html>
<head>
<title>Keywords</title>

{% autoescape false %}
{% if keywords %}
  <script>
  var keywords = {{keywords}}
  </script>
{% endif %}
{% endautoescape %}


<style>

table{
	width:75%;
	margin:1em auto;
}
td, th {
  width: auto;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 1rem;
}


</style>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://jashkenas.github.io/underscore/underscore-min.js"></script>
<script src="/js/tablesorter/jquery.tablesorter.min.js"></script>
<script src="/js/clic.js"></script>
<link rel="stylesheet" href="/js/tablesorter/themes/blue/style.css" />







<meta charset="utf-8">

</head>
<body>
 <div id="keywords">
               <p> Loading keywords </p>
                <script id="tmpl-keywords" type="text/template">
                    <table id="tablesorter">
                    <thead>
					<tr><th>
						Keyword
					</th>
					<th>Test Frequency</th>
					<th>Ref Frequency</th>
					<th>Log likelihood</th>
					</tr>
					</thead>
					<tbody>
                    <% for (var i = 0; i < dataItems.length; i++) { %>
                      <% var keyword = dataItems[i]; %>
                      <tr>
                        <td><%= keyword[0] %></td>
                        <td><%= keyword[1] %></td>
                        <td><%= keyword[2] %></td>
                        <td><%= keyword[3] %></td>
                      </tr>
                    <% } %>
                    </tbody>
                 <table>

                </script>

 </div>
</body>
<script>
jsonHandler.processor(keywords,"keywords");
$(document).ready(function(){
	$("#tablesorter").tablesorter();
	}
	);
</script>
</html>
