<!doctype html>
<html>
<title>Keywords</title>
<head>
{% if keywords %}
  <script>
  var keywords = {keywords}
  </script>
{% endif %}

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://jashkenas.github.io/underscore/underscore-min.js"></script>




<meta charset="utf-8">

</head>
<body>
 <div id="keywords">
               <p> Loading keywords </p>
                <script id="tmpl-keywords" type="text/template">
                    <ul>

                    <% for (var i = 0; i < keywords.length; i++) { %>
                      <% var keyword = keywords[i]; %>
                      <li>
                        <em><%= keyword[0] %></em>
                        <em><%= keyword[1] %></em>
                        <em><%= keyword[2] %></em>
                        <em><%= keyword[3] %></em>
                      </li>
                    <% } %>
                </ul>

                </script>

 </div>
</body>
</html>
