{% extends "layout/default.html" %}

{% set active_page = 'about' %}

{% block title %}
    About {{ super() }}
{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-sm-9">
          <h2 class="without-pills">About this prototype</h2>

          <p>The CLiC interface is work in progress. The current prototype was last updated on 18/7/2015 (version 1.1).
          This update makes it possible to navigate the different "subsets" within corpora. It also fixes the 1-gram
          keywords and clusters.
          </p>
          <p>Previous updates have made it possible to click on one of the rows in the concordance to retrieve the text it was
          found in. Updates also improved the speed of certain searches considerably. Other searches might still be a slow
          and very complex searches may fail.</p>

          <p>The following search options are in full development (i.e. do not work yet):</p>
          <ul>
              <li>Searches, keywords, and clusters for short suspensions</li>
              <li>Searches in 2-grams.</li>
              <li>Retrieval of n-grams from 6 upwards.</li>
              <li>Improvements of sort options.</li>
          </ul>
      </div>

      <div class="col-sm-3 padded">
          <div class="sideHead">
              <i class="fa fa-comment-o fa-4x"></i>
              <h4>Feedback</h4>
          </div>

          <div class="sideContent">
              <p>We are very keen to hear about:</p>
              <ul>
                  <li>What works</li>
                  <li>What doesn't work</li>
                  <li>What you like</li>
                  <li>What you don't like</li>
              </ul>

              <p>Please email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-9">
          <h2>About the project</h2>

          <p>CLiC (Corpus Linguistics in Cheshire) is developed as part of the AHRC-funded project: “<a href="http://www.nottingham.ac.uk/CRAL/Projects/CLiC.aspx">CLiC Dickens - Characterisation in the representation of speech and body language from a corpus linguistic perspective</a>”  (Arts and Humanities Research Council grant reference AH/K005146/1).</p>

          <p>The project demonstrates through corpus stylistics how computer-assisted methods can be used to study literary texts and lead to new insights into how readers perceive fictional characters.</p>
          <p>CLiC specifically supports the analysis of fictional speech and literary body language by enabling the user to search in particular parts of the texts, e.g. in quotes, which typically contain the direct speech of fictional characters in the novels.</p>
          <p>Initially, the texts that can be searched will be Dickens’s novels and novels written by other 19th century authors.</p>

          <p>For feedback and questions please contact us on email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p>

      </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
