{% extends "layout/default.html" %}

{% block meta %}
<meta name="google-site-verification" content="uNE6y4e2qFHekS8yLTZgxmzDkwRMTAoLHsu_SmDMwCc" />
{% endblock %}

{% set active_page = 'concordances' %}

{% block title %}
    Concordance Search {{ super() }}
{% endblock %}

{% block main_body %}
    <h2 class="without-pills">Concordance Search</h2>

    <form role="search" action="{{ url_for('concordances') }}" method="get" class="row">
        <div class="col-md-4">
            <h4>Books</h4>

            <div id="booksMain"></div>

            <a data-toggle="modal" href="#booksModal" class="btn btn-default">Change books</a>
        </div>

        <div class="col-md-4"><h4>Search</h4>

            <div class="form-group">
                <input type="search" name="terms" class="form-control" id="concordanceSearch"
                       placeholder="search terms">
            </div>
            <div class="radio-inline">
                <label class="radio-inline">
                    <input class="concordanceRadio" name="selectWords" type="radio" id="wholePhrase"
                           value="whole" checked> Whole phrase
                </label>
                <label class="radio-inline">
                    <input class="concordanceRadio" name="selectWords" type="radio" id="any" value="any"> Any
                </label>

                <p id="concordanceRadioSearchTermsHelp" class="help-block">eg "dense fog"</p>
            </div>

            <h5>Search within</h5>

            <div class="radio">
                <label>
                    <input type="radio" name="testIdxMod" id="testIdxMod1" value="chapter" checked>
                    Whole text
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="testIdxMod" id="testIdxMod2" value="quote">
                    Quotes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="testIdxMod" id="testIdxMod3" value="non-quote">
                    Non-quotes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="testIdxMod" id="testIdxMod4" value="longsus">
                    Long suspensions (5 words or more)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="testIdxMod" id="testIdxMod5" value="shortsus">
                    Short suspensions (4 words or less)
                </label>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Search</button>

        </div>
    </form>


    <!-- Modal -->
    <div class="modal" id="booksModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Choose Books</h4>
                </div>
                <div class="modal-body">
                    <div id="booksModalCol1" class="col-md-6"></div>
                    <div id="booksModalCol2" class="col-md-6"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="booksModalSubmit" type="button" class="btn btn-primary">Select books</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
  $(function () {
      // add Jquery here

      // Concordance search radio help text
      $('.concordanceRadio').click(function () {
          if ($('#wholePhrase').is(':checked')) {
              $('#concordanceRadioSearchTermsHelp').text('eg "dense fog"');
          } else if ($('#any').is(':checked')) {
              $('#concordanceRadioSearchTermsHelp').text('eg "dense" OR "fog" ');
          }
      });

      // populate initial Books text from JSON
      $.ajax({
          url: '/exampleJson/bookcounts.json',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
              var content = '<div class="checkbox"><label><input type="checkbox" class="chkDickens" name="testCollection"  value="' + data[0][0] + '" checked ><b>' + data[0][1] + '</b><br>';
              content += '(' + addCommas(data[0][2][0]) + ' words; ' + addCommas(data[0][2][1]) + ' quotes, ' + addCommas(data[0][2][2]) + ' non-quotes)</label></div>';
              $('#booksMain').html(content);
          },
          error: function (e) {
              //called when there is an error
              console.log(e.message);
              alert("Sorry. Failed to load books data. Please try again.");
          }
      });

      // On modal shown - retrieve JSON
      $('#booksModal').on('shown.bs.modal', function (e) {

          // What selections do we have on main already?
          var dickensSelected = [];
          if ($("#booksMain #allDickensChk").length) {
              dickensSelected.push($("#booksMain #allDickensChk").val());
          }
          $("#booksMain .chkDickens").each(function () {
              dickensSelected.push($(this).val())
          });

          var ntcSelected = [];
          if ($("#booksMain #allNtcChk").length) {
              ntcSelected.push($("#booksMain #allNtcChk").val());
          }
          $("#booksMain .chkNtc").each(function () {
              ntcSelected.push($(this).val())
          });

          $.ajax({
              url: '/exampleJson/bookcounts.json',
              type: 'GET',
              dataType: 'json',
              success: function (data) {
                  var dickensList = data[1];
                  var content = '<div class="checkbox chkBooklist" id="allDickensDiv"><label>';
                  content += '<input id="allDickensChk" type="checkbox" name="testCollection" value="' + data[0][0] + '" checked >';
                  content += '<span class="allChkLabel"><b>' + data[0][1] + '</b></span><br>';
                  content += '(' + addCommas(data[0][2][0]) + ' words; ' + addCommas(data[0][2][1]) + ' quotes, ' + addCommas(data[0][2][2]) + ' non-quotes)';
                  content += '</label></div><div id="otherChk">';

                  for (var x = 0; x < dickensList.length; x++) {
                      content += '<div class="checkbox"><label>';
                      // check all first
                      content += '<input class="chkDickens" type="checkbox" name="testCollection" value="' + dickensList[x][0] + '" checked >';
                      content += '<b>' + dickensList[x][1] + '</b><br>';
                      content += '(' + addCommas(dickensList[x][2][0]) + ' words; ' + addCommas(dickensList[x][2][1]) + ' quotes, ' + addCommas(dickensList[x][2][2]) + ' non-quotes)';
                      content += '</label></div>';
                  }
                  content += '</div>';
                  $('#booksModalCol1').html(content);

                  //Uncheck all initially in modal
                  $("#booksModal #allDickensChk").prop('checked', false);
                  $("#booksModal .chkDickens").prop('checked', false);


                  // Replicate DICKENS checkbox selections from main? - Jquery check if in ARRAY

                  // if ALL DICKENS Selected on main form
                  if ($.inArray('dickens', dickensSelected) != -1) {
                      $("#booksModal #allDickensChk").prop('checked', true);
                      $("#booksModal .chkDickens").prop('checked', true);
                  } else {
                      $('#booksModal .chkDickens').each(function () {
                          if ($.inArray($(this).attr('value'), dickensSelected) != -1) {
                              $(this).prop('checked', true);
                          } else {
                              $(this).prop('checked', false);
                          }
                      });
                  }

                  var ntcList = data[3];
                  var content = '<div class="checkbox chkBooklist" id="allNtcDiv"><label>';
                  content += '<input id="allNtcChk" type="checkbox" name="testCollection" value="' + data[2][0] + '" checked >';
                  content += '<span class="allChkLabel"><b>' + data[2][1] + '</b></span><br>';
                  content += '(' + addCommas(data[2][2][0]) + ' words; ' + addCommas(data[2][2][1]) + ' quotes, ' + addCommas(data[2][2][2]) + ' non-quotes)';
                  content += '</label></div>';

                  for (var x = 0; x < ntcList.length; x++) {
                      content += '<div class="checkbox"><label>';
                      content += '<input class="chkNtc" type="checkbox" name="testCollection" value="' + ntcList[x][0] + '" checked >';
                      content += '<b>' + ntcList[x][1] + '</b><br>';
                      content += '(' + addCommas(ntcList[x][2][0]) + ' words; ' + addCommas(ntcList[x][2][1]) + ' quotes, ' + addCommas(ntcList[x][2][2]) + ' non-quotes)';
                      content += '</label></div>';
                  }
                  $('#booksModalCol2').html(content);
                  //Uncheck all NTC initially in modal
                  $("#booksModal #allNtcChk").prop('checked', false);
                  $("#booksModal .chkNtc").prop('checked', false);


                  // Replicate NTC checkbox selections from main? - Jquery check if in ARRAY

                  // if ALL NTC Selected on main form
                  if ($.inArray('NTC', ntcSelected) != -1) {
                      $("#booksModal #allNtcChk").prop('checked', true);
                      $("#booksModal .chkNtc").prop('checked', true);
                  } else {
                      $('#booksModal .chkNtc').each(function () {
                          if ($.inArray($(this).attr('value'), ntcSelected) != -1) {
                              $(this).prop('checked', true);
                          } else {
                              $(this).prop('checked', false);
                          }
                      });
                  }


              },
              error: function (e) {
                  //called when there is an error
                  console.log(e.message);
                  alert("Sorry. Failed to load books data. Please try again.");
              }
          });
      })

      // All Dickens checkbox toggle within modal
      $(document).on("click", "#allDickensChk", function (event) {
          if (this.checked) {
              $("#booksModal .chkDickens").prop('checked', true);
          } else {
              $("#booksModal .chkDickens").prop('checked', false);
          }
      });


      // All Dickens checkbox - toggle if all books selected/unselected
      $(document).on("click", ".chkDickens", function (event) {
          if ($('.chkDickens:checked').length != $('.chkDickens').length) {
              $("#booksModal #allDickensChk").prop('checked', false);
          } else {
              $("#booksModal #allDickensChk").prop('checked', true);
          }
      });


      // All NTC checkbox toggle within modal
      $(document).on("click", "#booksModal #allNtcChk", function (event) {
          if (this.checked) {
              $("#booksModal .chkNtc").prop('checked', true);
          } else {
              $("#booksModal .chkNtc").prop('checked', false);
          }
      });

      // All NTC checkbox - toggle if all books selected/unselected
      $(document).on("click", "#booksModal .chkNtc", function (event) {
          if ($('.chkNtc:checked').length != $('.chkNtc').length) {
              $("#booksModal #allNtcChk").prop('checked', false);
          } else {
              $("#booksModal #allNtcChk").prop('checked', true);
          }
      });


      // Return selections from modal to main
      $(document).on("click", "#booksModalSubmit", function (event) {

          var containerHtml = '';
          $('#booksMain').html('');

          // No selections at all?
          if ($('#booksModal #allDickensChk').prop('checked') == false && $('#booksModal #allNtcChk').prop('checked') == false && ($('.chkDickens:checked').length == 0) && ($('.chkNtc:checked').length == 0)) {
              alert('You must make a selection...');
          } else {

              // Individual Dickens checked?
              if ($('#booksModal #allDickensChk').prop('checked') == false) {
                  if ($('.chkDickens:checked').length != 0) {
                      var individualDickensCheck = true;
                      $(".chkDickens:checked").each(function () {
                          containerHtml += $(this).closest(".checkbox").wrap('<p/>').parent().html(); //wrap first so we get html of container
                      });
                  }
              } else {
                  // all checked
                  $('#booksModal #allDickensDiv').removeClass('chkBooklist');
                  containerHtml += $('#allDickensDiv').wrap('<p/>').parent().html();
              }

              // Individual NTC checked?
              if ($('#booksModal #allNtcChk').prop('checked') == false) {
                  if ($('.chkNtc:checked').length != 0) {
                      var individualNtcCheck = true;
                      $(".chkNtc:checked").each(function () {
                          containerHtml += $(this).closest(".checkbox").wrap('<p/>').parent().html(); //wrap first so we get html of container
                      });
                  }
              } else {
                  // all checked
                  $('#booksModal #allNtcDiv').removeClass('chkBooklist');
                  containerHtml += $('#allNtcDiv').wrap('<p/>').parent().html();
              }
              $('#booksMain').html(containerHtml);
              $('#booksModal').modal('hide');

          }

      });


  });
  </script>
{% endblock %}
