{% extends "layout/default.html" %}

{% set active_page = 'documentation' %}

{% block title %}
    Documentation {{ super() }}
{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-sm-9">
          <h2 class="without-pills">Definitions</h2>
          
          <img class="banner" src="/img/definition.png">



      </div>
    
      <div class="col-sm-3 padded">
          <div class="sideHead">
              <i class="fa fa-comment-o fa-4x"></i>
              <h4>Feedback</h4>
          </div>
          
          <div class="sideContent">
              <p>We are very keen to hear about:</p>
              <ul>
                  <li>What works</li>
                  <li>What doesn't work</li>
                  <li>What you like</li>
                  <li>What you don't like</li>
              </ul>
            
              <p>Please email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p> 
          </div>
      </div>
  </div>

<!--
  <div class="row">
      <div class="col-md-9">
          <h2>About the project</h2>

          <p>CLiC (Corpus Linguistics in Cheshire) is developed as part of an AHRC-funded project: “<a href="http://www.nottingham.ac.uk/CRAL/Projects/CLiC.aspx">CLiC Dickens - Characterisation in the representation of speech and body language from a corpus linguistic perspective</a>”.</p>

          <p>The project demonstrates through corpus stylistics how computer-assisted methods can be used to study literary texts and lead to new insights into how readers perceive fictional characters.</p>
          <p>CLiC specifically supports the analysis of fictional speech and literary body language by enabling the user to search in particular parts of the texts, e.g. in quotes, which typically contain the direct speech of fictional characters in the novels.</p>
          <p>Initially, the texts that can be searched will be Dickens’s novels and novels written by other 19th century authors.</p>
          
          <p>For feedback and questions please contact us on email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p>

      </div>
  </div>
-->
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
