{% extends "layout/default.html" %}

{% set active_page = 'patterns' %}


{% block stylesheets %}
  {{ super() }}

  <link href="/js/thirdparty/DataTables1.10.0-beta.2/media/css/dataTables.bootstrap.css" rel="stylesheet">
  <link href="/js/thirdparty/pace-0.5.1/themes/pace-theme-center-circle-uon.css" rel="stylesheet"/>
{% endblock %}


{% block title %}
    Patterns {{ super() }}
{% endblock %}


{% block body %}

    {# <p>{{ subsetname }} in {{ bookname }}</p> #}

    <h3 class="without-pills">Results:</h2>
     
    {{ message }}



{% endblock %}


{% block scripts %}
  {{ super() }}
{% endblock %}