{% extends "admin/master.html" %}

{% set active_page = 'admin' %}

{% block title %}
    User Annotation | CLiC
{% endblock %}

{% block body %}

    {% if not current_user.is_authenticated() %}

    <h3 class="without-pills">Access is restricted</h3>
      <p>The component for user annotation is not available to the public. If you
        want to gain access to this module in order to annotate occurrences of
        subsets with tags and notes, please email
        <a href="mailto:clic@contacts.bham.ac.uk?Subject=Get%20access" target="_top">the
          CLiC team</a> to ask for a user account. If you want to set up your own
          version of the CLiC user annotation, please visit our <a href="
          {{url_for('releases')}}">Releases</a> page and install CLiC locally.
      </p>

      <p>If you have a user account, visit the <a href="/login">Login page</a> to access
        you account.
      </p>

    {% else %}
    <h3 class="without-pills">Goal</h3>
      <p>This module allows you to add notes and tags to subsets so that they
        can be analysed and analysed. </p>
      <p>The subset page contains all the subsets that can be found in the CLiC
        corpora. The text of the subsets can be searched using the search box on the subset page and the columns can be
        sorted by clicking on the column title. Advanced functionality (for instance, filtering) is explained
        below. </p>
    <h3 class="without-pills">How to add a tag or a note?</h3>
     <p>Registered users can define a tag or a note by navigating to the Tag and
        Note pages and clicking on the <i>Create</i> link. Once a tag and a note
        are created one can then click on the pencil next to a subset row on the
        subset page to add any available tags or notes. The garbage bin icon can be clicked
        to delete a tag (this deletes it from *all* of the subsets it was attached to).
      </p>
      <h3 class="without-pills">The purpose of the filter</h3>
          The purpose of the filter is to allow the researcher the greatest flexibility
          in the selection of subsets. It is possible to select all subsets which
          are found in three (or more) different books and which have three (or more)
          specific tags, for instance.
    <h3 class="without-pills">How to filter the subsets?</h3>
        The subset page has a filter that can be used to select subsets that meet
        specific criteria. Multiple filter can be added at the same time. To use the filter
        <ol>
          <li>click on the <i>Filter</i> link </li>
          <li>specify three parameters: what column you want to filter, a filter type (for instance,
            contains, equals, in list, etc.), and what you expect the filter to
            match in the field </li>
          <li>apply the filter by clicking <i>Apply</i> on the right-hand side.</li>
        </ol>
        Repeat the process if you want to add multiple filters as in the screenshot below. Once a filter
        is applied it can be reset using the <i>Reset</i> button on the right-hand side.
        <h3 class="without-pills">Filtering on the <i>Kind</i> of subset</h3>
            To easily filter the subsets using the kind of subset, here is the list of subsets
            contained in the database:
                <ul>
                  <li>long suspensions</li>
                  <li>short suspensions</li>
                  <li>non quotes</li>
                  <li>non suspended narration</li>
                  <li>quotes</li>
                  <li>embedded quotes</li>
                  <li>extended quotes</li>
                </ul>
            It is possible to use the full name of the kind of subset, or to use only a part
            of it (for instance, <i>contains: suspension</i> will find all subsets of which the kind
            contains the word <i>suspension</i>).
    <h3 class="without-pills">How to filter the subsets for specific tags/notes?</h3>
        If you have added tags and/or notes to the subsets, it is possible to use the filtering
        mechanism described above to filter on a tag/note. To do so, select <i>Tags / Name</i>
        or <i>Notes / Note</i> from the filter dropdown menu and write (a part of) the text of the
        note or Tag. Hit apply to filter the results.
    <h3 class="without-pills">How to perform a phrase search?</h3>
          The text filter
          makes it possible to search for phrases (for instance, <i>I don't know what I</i>).
          No quotation marks are needed.

    <h3 class="without-pills">Quick searches</h3>
      The purpose of the main search box is to allow for quick searches in the entire corpus.
      It is combines searches using abbreviations and text. It is possible to search for
      <i>BH sir</i>, for instance, to search for <i>sir</i> in <i>Bleak House</i>. The search is not
      limited to word boundaries (hence the use of filters for phrase searches). To search for entries starting with a specific word, use
      <i>^</i> as in, <i>^said</i>.

    <h3 class="without-pills">Exporting subsets</h3>
       Up to 2000 subsets can be exported using the export link next to the filter.
       This export can take place <i>after</i> the filtering.

      </div>
      <br/>
      {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
