body {
    /*padding-top: 63px;*/
}

/* UoN blues & header  - later do in new bootstrap theme? */
h1.uonHeaderh1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
    background-color: #003366;
    border-color: #003366;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #001A4D;
    color: #FFFFFF;
}

/*
end UoN blues
*/

/* no brand so shift this to alignt left with header */
.navbar-collapse {
	padding-left: 0
	}

/*
Datatable Common
*/

/* space around table before info /above filter*/
.container .uonDatatable {
    /*margin: 10px 0;*/
    width: auto;
}

/* stronger TH */
.container .uonDatatable th {
    border-bottom: 3px solid #666;
}

/* stronger on hover colour */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #A2C4D0 !important;
}

/*.dataTables_info {*/
    /*float: left;*/
    /*clear: left;*/
/*}*/


/* data table header */

h2.without-pills {
    bottom: 18px;
    position: relative;
}

h2.with-pills {
    margin-top: 0;
    margin-bottom: 20px;
}

.dataTables_wrapper > div {
    # border: 1px solid #666;
    # padding: 6px;
    min-height: 40px;
}
.dataTables_filter > label {
    bottom: 2px;
    position: relative;
}

.dataTables_filter .form-control {
    margin-left: 6px;
}

.skinny				{line-height: 14px;}
.skinny	> li > a 	{padding: 3px 15px !important;}

.DTTT .btn {
    padding: 4px 8px;
}

.dataTables_info {
    display: inline;
    margin-right: 2em;
    float: none;
}

.dataTables_filter {
    display: inline;
}





/*
End Datatable Common
*/




/*
Concordance results
*/

#concordanceWrap.error > p {
    font-size: larger;
    font-weight: bold;
    color: darkred;
}

#dataTableConcordance td					{max-height: 1em; white-space:nowrap;}
#dataTableConcordance .right				{text-align: left;  overflow: hidden; text-overflow:clip; white-space:nowrap;  max-width: 300px }
#dataTableConcordance .left				{text-align: right; overflow: hidden; text-overflow:clip; white-space:nowrap;  max-width: 300px; direction: rtl;  }
#dataTableConcordance .left span			{direction: ltr; unicode-bidi: bidi-override; }
/* see re cut off text on left: http://stackoverflow.com/questions/3759387/text-overflow-behaviour-in-css-with-non-left-values-for-text-align */
#dataTableConcordance .book				{text-align: left;  overflow: hidden; text-overflow:ellipsis; white-space:nowrap;  max-width: 100px }

#dataTableConcordance td span.w {
    border: 1px solid #ccc;
    border-radius: 2px !important;
    padding: 0 1px;
}
#dataTableConcordance td.hilight span.w {
    border: 1px solid #4b8195;
}
#dataTableConcordance a.bookLink:active line,
#dataTableConcordance a.bookLink:hover line {
    stroke: #ffa033;
}

/* hilight node */
.hilight {
    background: #A2C4D0 !important;
    text-align: center
}

/*
End Concordance results
*/

/*
Chapter view
*/

.highlight {
    background-color: yellow;
}

/*
Keywords results
 */

#dataTableKeywords_wrapper > div {
    /*width: 67%;*/
}

#dataTableKeywords_wrapper .dataTables_filter {
   /*float: left;*/
   /*margin-top: 15px;*/
}

#dataTableKeywords_wrapper .dataTables_filter > label {
    /*float: none;*/
    margin-left: 10px;

}

#dataTableKeywords_wrapper .toolbar {
    /*display: inline-block;*/
    /*min-width: 51%;*/
}

#dataTableKeywords_wrapper .dataTables_info {
    /*clear: left;*/
    /*float: none;*/
}

/*
End Keywords results
*/


/*
Clusters results
*/

#dataTableClusters_wrapper > div {
    /*width: 67%;*/
}

#dataTableClusters_wrapper .dataTables_filter {
    /*float: left;*/
    /*margin-top: 15px;*/
}

#dataTableClusters_wrapper .dataTables_info {
    /*clear: left;*/
    /*float: none;*/
}

/*
End Clusters results
*/


/* Book lists & related modal */
.chkBooklist {
    bottom: 5px;
    position: relative;
    right: 20px;
}

.checkbox.chkBooklist input {
    position: relative;
    top: 5px;
}

div#booksModal.modal .allChkLabel {
    font-size: 24px;
}

#booksModal .modal-dialog, #booksModalTestMaterial .modal-dialog, #booksModalRefMaterial .modal-dialog {
    width: 60%;
}

/* End Book lists & related modal */

#resultsHeader {
    width: 100%;
    margin-bottom: 10px;
}

#switchView {
    position: relative;
    top: 13px;
}

.clicSelectSmallLabel {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.clicSelectSmall {
    width: 40%;
}

table .nowrap {
    white-space: nowrap;
}


/*Plot view*/
.tablePlot					{max-width: 900px;}
.book 						{white-space: nowrap; width: 10%;}
.plot 						{width: 90%; }

/*About Feedback formatting*/
.padded	{}
.sideHead	{text-align: left;}
@media (max-width: 768px)
{
	.sideHead	{float: left; padding-right: 20px;}
	.sideContent	{float: left;}
}

/* *** KWICGrouper *** */

#kwicGrouper {
    position: fixed;
    top: 33%;
    right: -1px;
    width: 25em;
    min-height: 16em;
    z-index: 2;
    background: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px 0 0 5px !important;
    transition: right 0.3s ease;
}

#kwicGrouper {
    right: -23em;
}
#kwicGrouper.in {
    right: -1px;
}

#kwicGrouper > h2 {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 16em;
    margin: 0;
    line-height: 2em;
    transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); -moz-transform: rotate(270deg); -webkit-transform: rotate(270deg);
    transform-origin: top left;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
}
#kwicGrouper > h2:before,
#kwicGrouper > h2:after {
    content: "⇧";
    padding: 1em;
}
#kwicGrouper.in > h2:before,
#kwicGrouper.in > h2:after {
    content: "⇩";
}

#kwicGrouper > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2em;
    border-left: 1px dotted black;
    padding: 5px;
}

#kwicGrouper select {
    display: none;
}
#kwicGrouper .chosen-container {
    display: block;
}
#kwicGrouper .slider {
    margin: 0.5em 1em 3em 1em;
}
#kwicGrouper .btn-group {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.table-hover>tbody>tr.kwicMatch>td {
    background: #fffdb3;
}
/* TODO: Does KWICGroup matching nodes make any sense? */
#dataTableConcordance tr.kwicMatch[data-kwic-match=l-1] > td.contextLeft .node-1,
#dataTableConcordance tr.kwicMatch[data-kwic-match=l-2] > td.contextLeft .node-2,
#dataTableConcordance tr.kwicMatch[data-kwic-match=l-3] > td.contextLeft .node-3,
#dataTableConcordance tr.kwicMatch[data-kwic-match=l-4] > td.contextLeft .node-4,
#dataTableConcordance tr.kwicMatch[data-kwic-match=l-5] > td.contextLeft .node-5,
#dataTableConcordance tr.kwicMatch[data-kwic-match=n-1] > td.contextNode .node-1,
#dataTableConcordance tr.kwicMatch[data-kwic-match=n-2] > td.contextNode .node-2,
#dataTableConcordance tr.kwicMatch[data-kwic-match=n-3] > td.contextNode .node-3,
#dataTableConcordance tr.kwicMatch[data-kwic-match=n-4] > td.contextNode .node-4,
#dataTableConcordance tr.kwicMatch[data-kwic-match=n-5] > td.contextNode .node-5,
#dataTableConcordance tr.kwicMatch[data-kwic-match=r-1] > td.contextRight .node-1,
#dataTableConcordance tr.kwicMatch[data-kwic-match=r-2] > td.contextRight .node-2,
#dataTableConcordance tr.kwicMatch[data-kwic-match=r-3] > td.contextRight .node-3,
#dataTableConcordance tr.kwicMatch[data-kwic-match=r-4] > td.contextRight .node-4,
#dataTableConcordance tr.kwicMatch[data-kwic-match=r-5] > td.contextRight .node-5 {
    border: 2px solid red;
    color: red;
}
