{% extends "layout/default.html" %}

{% set active_page = 'documentation' %}



{% block title %}
    Definitions {{ super() }}
{% endblock %}

{% block main_body %}


<style>
.suspension {
    text-decoration: underline dashed;
    -moz-text-decoration-color: blue; /* Code for Firefox */
    text-decoration-color: blue;
}

#square {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 2px;
}

</style>


  <div class="row">
      <div class="col-sm-9">
          <h2 class="without-pills">Documentation</h2>

          <p>NB: The current total cluster counts of quotes and non-quotes do not add up to
          the total cluster counts in the whole text. This is a known issue on which we are working.
		  </p>

		  <h3>Keywords</h3>

          The keyword extraction formula is taken from 

          <p>
          Rayson, P. and Garside, R. (2000). Comparing corpora using frequency profiling. 
          In proceedings of the workshop on Comparing Corpora, held in conjunction with the 38th 
          annual meeting of the Association for Computational Linguistics (ACL 2000). 
          1-8 October 2000, Hong Kong, pp. 1 - 6
          Available at: http://ucrel.lancs.ac.uk/people/paul/publications/rg_acl2000.pdf
          </p>

		  The total count used in this formula is the total cluster count (which is not the 
          same as the total token count.


      </div>
      {% include "blocks/twitter.html" %}
      {% include "blocks/feedback.html" %}
   </div>


<!--
  <div class="row">
      <div class="col-md-9">
          <h2>About the project</h2>

          <p>CLiC (Corpus Linguistics in Cheshire) is developed as part of an AHRC-funded project: “<a href="http://www.nottingham.ac.uk/CRAL/Projects/CLiC.aspx">CLiC Dickens - Characterisation in the representation of speech and body language from a corpus linguistic perspective</a>”.</p>

          <p>The project demonstrates through corpus stylistics how computer-assisted methods can be used to study literary texts and lead to new insights into how readers perceive fictional characters.</p>
          <p>CLiC specifically supports the analysis of fictional speech and literary body language by enabling the user to search in particular parts of the texts, e.g. in quotes, which typically contain the direct speech of fictional characters in the novels.</p>
          <p>Initially, the texts that can be searched will be Dickens’s novels and novels written by other 19th century authors.</p>

          <p>For feedback and questions please contact us on email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p>

      </div>
  </div>
-->
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
