{% extends "layout/default.html" %}

{% set active_page = 'documentation' %}

{% block title %}
    Documentation {{ super() }}
{% endblock %}

{% block main_body %}

  <div class="row">
      <div class="col-sm-9">
          <h2 class="without-pills">Documentation</h2>

          <p>NB: The current total cluster counts of quotes and non-quotes do not add up to
          the total cluster counts in the whole text. This is a known issue on which we are working.
		  </p>
		  <p>This documentation is a work in progress. We are currently improving the speed of the application (mostly the concordance). All suggestions are welcome. 
		  </p>

		  <h3>Keywords</h3>

		  <p>The keywords page allows you to compare two corpora and two subsets with each other in order to find 
    		 the clusters that are statisically significantly more frequently used in a corpus.
		  </p>

          The keyword extraction formula is taken from 

          <p style="padding-left:2em">
          Rayson, P. and Garside, R. (2000). Comparing corpora using frequency profiling. 
          In proceedings of the workshop on Comparing Corpora, held in conjunction with the 38th 
          annual meeting of the Association for Computational Linguistics (ACL 2000). 
          1-8 October 2000, Hong Kong, pp. 1-6.
          Available <a href="http://ucrel.lancs.ac.uk/people/paul/publications/rg_acl2000.pdf">here</a>.
          </p>

		  The total count used in this formula is the total cluster count (which is not the 
          same as the total token count. 
		
      <h3 class="without-pills">Abbreviations</h2>
      
      <h4>Charles Dickens's texts in CLiC</h3>
        <table>
        <tr>
        <td width="100px"><b>Abbreviation</b>
        </td>
        <td><b>Book title</b></td>
        <td><b>Author</b></td>
       </tr>
       <tr>
        <td >BH</td>
        <td>Bleak House</td>
        <td>Charles Dickens</span></td>
       </tr>
       <tr>
        <td >BR</td>
        <td>Barnaby Rudge</td>
        <td>--</td>
       </tr>
       <tr>
        <td >DC</td>
        <td>David Copperfield</td>
        <td></td>
       </tr>
       <tr>
        <td >DS</td>
        <td>Dombey and Son</td>
        <td></td>
       </tr>
       <tr>
        <td >ED</td>
        <td>The Mystery of Edwin Drood</td>
        <td></td>
       </tr>
       <tr>
        <td >GE</td>
        <td>Great Expectations</td>
        <td></td>
       </tr>
       <tr>
        <td >HT</td>
        <td>Hard Times</td>
        <td></td>
       </tr>
       <tr>
        <td >LD</td>
        <td>Little Dorrit</td>
        <td></td>
       </tr>
       <tr>
        <td >MC</td>
        <td>Martin Chuzzlewit</td>
        <td></td>
       </tr>
       <tr>
        <td >NN</td>
        <td>Nicholas Nickleby</td>
        <td></td>
       </tr>
       <tr>
        <td >OCS</td>
        <td>The Old Curiosity Shop</td>
        <td></td>
       </tr>
       <tr>
        <td >OMF</td>
        <td>Our Mutual Friend</td>
        <td></td>
       </tr>
       <tr>
        <td >OT</td>
        <td>Oliver Twist</td>
        <td></td>
       </tr>
       <tr>
        <td >PP</td>
        <td>Pickwick Papers</td>
        <td></td>
       </tr>
       <tr>
        <td >TTC</td>
        <td>A Tale of Two Cities</td>
        <td></td>
       </tr>
      </table>
      
      <h4>Other 19C texts in CLiC</h3>
      <table>
 
       <tr>
         <td width="100px"><b>Abbreviation</b>
         </td>
         <td><b>Book title</b></td>
         <td><b>Author</b></td>
       </tr>
       <tr>
        <td >Agnes<span> </span></td>
        <td>Agnes Grey</td>
        <td>Anne Brontë</td>
       </tr>
       <tr>
        <td >Alli</td>
        <td>The Small House at Allington</td>
        <td>Anthony Trollope</td>
       </tr>
       <tr>
        <td >Anto</td>
        <td>Antonina or, the Fall of Rome</td>
        <td>Wilkie Collins</td>
       </tr>
       <tr>
        <td >Arma</td>
        <td>Armadale</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Audley</td>
        <td>Lady Audley’s Secret</td>
        <td>Mary Elizabeth Braddon</td>
       </tr>
       <tr>
        <td >Basker</td>
        <td>The Hound of the Baskervilles</td>
        <td>Sir Arthur Conan Doyle</td>
       </tr>
       <tr>
        <td >Cran</td>
        <td>Cranford</td>
        <td>Elizabeth Gaskell</td>
       </tr>
       <tr>
        <td >Deronda</td>
        <td>Daniel Deronda</td>
        <td>George Eliot</td>
       </tr>
       <tr>
        <td >Dorian<span
        style="mso-spacerun:yes"> </span></td>
        <td>The Picture of Dorian Gray</td>
        <td>Oscar Wilde</td>
       </tr>
       <tr>
        <td >Dracula</td>
        <td>Dracula</td>
        <td>Bram Stoker</td>
       </tr>
       <tr>
        <td >Emma</td>
        <td>Emma<span style="mso-spacerun:yes"> </span></td>
        <td>Jane Austen</td>
       </tr>
       <tr>
        <td >Frank</td>
        <td>Frankenstein</td>
        <td>Mary Shelley</td>
       </tr>
       <tr>
        <td >Jane</td>
        <td>Jane Eyre</td>
        <td>Charlotte Brontë</td>
       </tr>
       <tr>
        <td >Jekyll</td>
        <td>The Strange Case of Dr Jekyll and Mr Hide<span>&nbsp</span></td>
        <td>Robert Louis Stevenson</td>
       </tr>
       <tr>
        <td >Jude</td>
        <td>Jude the Obscure<span style="mso-spacerun:yes"> </span></td>
        <td>Thomas Hardy</td>
       </tr>
       <tr>
        <td >Mary</td>
        <td>Mary Barton</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Mill</td>
        <td>The Mill on the Floss</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Native</td>
        <td>The Return of the Native</td>
        <td>--</td>
       </tr>
       <tr>
        <td >North<span
        style="mso-spacerun:yes"> </span></td>
        <td>North and South</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Persu</td>
        <td>Persuasion</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Pomp</td>
        <td>The Last Days of Pompeii</td>
        <td>Edward George Bulwer-Lytton</td>
       </tr>
       <tr>
        <td >Pride</td>
        <td>Pride and Prejudice</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Prof</td>
        <td>The Professor</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Sybil</td>
        <td>Sybil, or the two nations<span style="mso-spacerun:yes">  </span></td>
        <td>Benjamin Disraeli</td>
       </tr>
       <tr>
        <td >Tess</td>
        <td>Tess of the D’Urbervilles</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Vanity</td>
        <td>Vanity Fair</td>
        <td>William Makepeace Thackeray</td>
       </tr>
       <tr>
        <td >Vivian</td>
        <td>Vivian Grey</td>
        <td>--</td>
       </tr>
       <tr>
        <td >Woman<span
        style="mso-spacerun:yes"> </span></td>
        <td>The Woman in White<span style="mso-spacerun:yes"> </span></td>
        <td>--</td>
       </tr>
       <tr>
        <td >Wuth</td>
        <td>Wuthering Heights</td>
        <td>Emily Brontë</td>
       </tr>
      </table>

 	  </br>
      </div>
      {% include "blocks/twitter.html" %}
      {% include "blocks/feedback.html" %}
   </div>


<!--
  <div class="row">
      <div class="col-md-9">
          <h2>About the project</h2>

          <p>CLiC (Corpus Linguistics in Cheshire) is developed as part of an AHRC-funded project: “<a href="http://www.nottingham.ac.uk/CRAL/Projects/CLiC.aspx">CLiC Dickens - Characterisation in the representation of speech and body language from a corpus linguistic perspective</a>”.</p>

          <p>The project demonstrates through corpus stylistics how computer-assisted methods can be used to study literary texts and lead to new insights into how readers perceive fictional characters.</p>
          <p>CLiC specifically supports the analysis of fictional speech and literary body language by enabling the user to search in particular parts of the texts, e.g. in quotes, which typically contain the direct speech of fictional characters in the novels.</p>
          <p>Initially, the texts that can be searched will be Dickens’s novels and novels written by other 19th century authors.</p>

          <p>For feedback and questions please contact us on email <a href="mailto:clic@nottingham.ac.uk">clic@nottingham.ac.uk</a>.</p>

      </div>
  </div>
-->
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
