{% extends "layout/default.html" %}

{% set active_page = 'downloads' %}

{% block title %}
  Downloads{{ super() }}
{% endblock %}

{% block main_body %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <h2 class="without-pills ppage-header">
      Downloads
    </h2>

	Here you can download the data associated with the paper:

	Mahlberg, M., Stockwell, P., de Joode, J., Smith, C., O’Donnell, M. Brook, (forthcoming) CLiC Dickens – Novel uses of concordances for the integration of corpus stylistics and cognitive poetics, <i>Corpora</i>

 	<ul>
		<li>
        <a href="{{ url_for('static', filename='downloads/clic-1.4.zip') }}"> 
		CLiC web app code 
		</a>
		</li>
		<li>
        <a href="{{ url_for('static', filename='downloads/DNOV.zip') }}"> 
		DNov corpus, xml version
		</a>
		see <a href="{{url_for('documentation')}}">here</a> for documentation 
		</li>
		<li>
        <a href="{{ url_for('static', filename='downloads/19C.zip') }}"> 
		19C corpus, xml version 
		</a>
		see <a href="{{url_for('documentation')}}">here</a> for documentation 
		</li>
		<li>
        <a href="{{ url_for('static', filename='downloads/clic-annotation.zip') }}"> 
		Annotation module  -  used to create DNov and 19C
		</a>
		</li>
		<li>
        <a href="{{ url_for('static', filename='downloads/clic-gold-standard.zip') }}"> 
		Gold standard  
		</a>
		</li>
	</ul>


    </div>

     <!-- Blog Sidebar Widgets Column -->
    {% include "blocks/twitter.html" %}
</div>


{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
