{% extends "layout/default.html" %}

{% set active_page = 'events' %}

{% block title %}
  Events{{ super() }}
{% endblock %}

{% block main_body %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <h2 class="ppage-header">
      Upcoming events and presentations
    </h2>

     <ul>
 		<li>
		 16-18 September 2016, Michaela Mahlberg will be giving a keynote at the <a href="https://apling.engl.iastate.edu/conferences/aacl2016/"> American Association for Corpus Linguistics (AACL) Conference</a>
		</li>
 	 </ul>    


	<h2 class="ppage-header">
      Past events and presentations
    </h2>

     <ul>
 		<li>
4 July 2016, CLiC Workshop at University of Kent 
		</li>
 		<li>
20-24 June 2016 <a href="http://www.birmingham.ac.uk/research/activity/corpus/events/2016/corpus-linguistics-summer-school.aspx">Corpus Linguistics Summer School at CCR</a>
		</li>
 		<li>
20 June 2016 Michaela Mahlberg delivers 11th Annual Sinclair Lecture:
You can watch a video of the lecture <a href="http://www.birmingham.ac.uk/research/activity/corpus/news/2016/sinclair-lecture-2016.aspx">here</a>.
		</li>
 		<li>
4 June 2016 - Hay Festival, University of Birmingham series, <a href="https://www.hayfestival.com/p-11096-john-holmes-michaela-mahlberg-will-tattersdill.aspx">‘Hot off the press’</a> John Holmes, Michaela Mahlberg and Will Tattersdill 
		</li>
 		<li>
14 March 2016, CLiC Workshop for the Schools Partnership Gateway, ‘Corpus Stylistics for the English Classroom’, University of Nottingham 
		</li>
 		<li>
16 November 2015, CLiC Workshop hosted jointly organised the CCR and AQA, ‘Corpus Stylistics for A-level Teachers’ – see <a href="https://thedefinitearticle.aqa.org.uk/2016/01/25/corpus-stylistics-workshop-for-a-level-teachers/">here</a> for a review </li>
	  <!-- <li>16 November 2015: <a href="http://www.aqa.org.uk/professional-development/course-details?meta_E=SENGAlevelEnglishWorkshopCorpuslinguisticmethods" class="sys_16">Using corpus linguistic methods in the classroom: A one-day workshop for A level teachers</a></li> -->
	  <li>12 November 2015, <a title="Advanced CLiC - User-defined annotation" href="http://birmingham.ac.uk/schools/edacs/departments/englishlanguage/events/2015/de-joode-advanced-corpus-workshop.aspx" class="sys_0 sys_t1491559">Advanced CLiC &ndash; User-defined annotation</a>, Centre for Advanced Research in English, Johan de Joode</li>
	  <li>29 October 2015, <a title="Using CLiC to study literature" href="http://birmingham.ac.uk/schools/edacs/departments/englishlanguage/events/2015/de-joode-corpus-workshop.aspx" class="sys_0 sys_t1491559">Using CLiC to study literature</a>, Centre for Advanced Research in English, Johan de Joode</li>
 	 </ul>    








    </div>

     <!-- Blog Sidebar Widgets Column -->
    {% include "blocks/twitter.html" %}
</div>


    <!-- Footer -->

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
