{% extends "layout/default.html" %}

{% set active_page = 'publications' %}

{% block title %}
  Publications{{ super() }}
{% endblock %}

{% block main_body %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <h2 class="without-pills ppage-header">
      Publications
    </h2>
    <ul>
         <li>
Mahlberg, M., Stockwell, P., de Joode, J., Smith, C., O’Donnell, M. Brook, (forthcoming 2016). CLiC Dickens – Novel uses of concordances for the integration of corpus stylistics and cognitive poetics, <i>Corpora</i> 
		 </li>
         <li>
Mahlberg, M. & Stockwell, P. (2016). Point and CLiC: teaching literature with corpus stylistic tools, in M. Burke et al. (eds.) Scientific Approaches to Literature in Learning Environments (pp. 251-267). Amsterdam: John Benjamins.
		 </li>
         <li>
Mahlberg, M. (2016). Corpus Stylistics. In V. Sotirova (ed.) <i>The Bloomsbury Companion to Stylistics</i>. London & New York: Bloomsbury (pp. 139-156).
		 </li>
         <li>
Mahlberg, M. (2015). Corpus Linguistics. In M. Giovanelli, A. Macrae, F. Titjen and I. Cushing (eds.) <i>English Language and Literature. A/AS Level for AQA.</i> 284-286.
		 </li>
         <li>
Stockwell, P & Mahlberg, M. (2015). Mind-modelling with corpus stylistics in David Copperfield, <i>Language and Literature</i>, 24: 129-147. <a href="https://www.academia.edu/8764630/Mind-modelling_with_corpus_stylistics_in_David_Copperfield">Link</a>.		 </li>
    </ul>
 



    </div>

     <!-- Blog Sidebar Widgets Column -->
    {% include "blocks/twitter.html" %}
</div>


{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
