{% extends "layout/default.html" %}

{% set active_page = 'publications' %}

{% block title %}
  Publications{{ super() }}
{% endblock %}

{% block main_body %}
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

    <h2 class="without-pills ppage-header">
      Publications
    </h2>
Mahlberg, M., Stockwell, P., de Joode, J., Smith, C., O’Donnell, M. Brook, (forthcoming 2016). CLiC Dickens – Novel uses of concordances for the integration of corpus stylistics and cognitive poetics, Corpora 

Mahlberg, M. & Stockwell, P., (forthcoming 2016). Point and CLiC: teaching literature with corpus stylistic tools, in M. Burke et al. (eds.) Scientific Approaches to Literature in Learning Environments (pp. 251-267). Amsterdam: John Benjamins.

Mahlberg, M. (2016). Corpus Stylistics. In V. Sotirova (ed.) The Bloomsbury Companion to Stylistics. London & New York: Bloomsbury (pp. 139-156).
Mahlberg, M. (2015). Corpus Linguistics. In M. Giovanelli, A. Macrae, F. Titjen and I. Cushing (eds.) English Language and Literature. A/AS Level for AQA. 284-286.
Stockwell, P & Mahlberg, M. (2015). Mind-modelling with corpus stylistics in David Copperfield, Language and Literature, 24: 129-147. 
add link: https://www.academia.edu/8764630/Mind-modelling_with_corpus_stylistics_in_David_Copperfield



    <h2>
        <a href="#clic1.4">CLiC 1.4 is now available!</a>
    </h2>
    <p class="lead">
        by <a href="#">J. de Joode</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on May 5, 2016</p>
    <hr>
    <p>
         A new version of CLiC has been released. Here are a number of highlights in the latest release:

        <ul>
			<li>The Keyword Extraction Algorithm has completely been refactored. Its results now match the log likelihood ratio formula as explained by Rayson and Garside (2000, cf. 
 				<a href="{{url_for('documentation')}}">Documentation</a>). The keywords are now extensively tested and the clusters and keywords pages contain the information of the parameters. 
				</li>
			<li>The non-quote extraction algorithm has been improved to contain selection before the first quote in a chapter. This affects concordance searches, keywords and clusters.</li>
			<li>We have renamed the parameters in URLs so one can easily edit them and share the URLs with other researchers.</li>
			<li>We have fixed the concordance searches in short suspensions.</li>
            <li>Keywords and clusters for 3- and 4-grams in short suspensions are now available.</li>
		</ul>
	</p>
    <p>We are still working on more fine-grained token and cluster counts. Currently, non-quote and quote token counts do not add up to the total token count.</p>
	<p>Based on feedback from our users, we have fixed the column width in the keywords and clusters pages and we have added a number of help pages that explain basic usage. We have also fixed a bug that resulted in 1-grams when 5-grams were asked. </p>

	<p>Find out more about our release at <a href="https://github.com/CentreForCorpusResearch/clic/releases">our Github code repository</a>.</p>
    <p>Feedback is welcome at <a href="mailto:clic@contacts.birmingham.ac.uk">clic@contacts.birmingham.ac.uk</a>.</p>
    <hr>

    <h2>
        <a href="#">Using the patterns tool</a>
    </h2>
    <p class="lead">
        by <a href="#">J. de Joode</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on November 30, 2015</p>
    <hr>
    <video width="640" height="480" controls="controls">
      <source src="https://www.dropbox.com/s/clecpv1h4vhgdzo/Patterns-Vodcast.mp4?dl=1" type="video/mp4" />
    </video>
    <p>This video introduces CliC's patterns tool. Use full screen for best video quality. Enjoy and all feedback is welcome at <a href="mailto:clic@contacts.birmingham.ac.uk">clic@contacts.birmingham.ac.uk</a></p>
    <hr>

    <!-- First Blog Post -->
    <h2>
        <a href="#">CLiC project moves to UoB</a>
    </h2>
    <p class="lead">
        by <a href="#">Johan</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on September 1, 2015</p>
    <hr>
    <img class="img-responsive" src="/img/aston-webb.jpg" alt="A picture of the Aston Web building of the University of Birmingham">
    <hr>
    <p>Originally conceived at the University of Liverpool, then further developed at the University of the Nottingham, the CLiC project now moves on to a new home: the Centre for Corpus Research of the University of Birmingham.</p>
    <a class="btn btn-primary" href="http://www.birmingham.ac.uk/clic-dickens" target="_blank">Find out more<span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>

    </div>

     <!-- Blog Sidebar Widgets Column -->
    {% include "blocks/twitter.html" %}
</div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; CLiC Team 2013-The present Year</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
