{% extends "layout/default.html" %}

{% set active_page = 'releases' %}

{% block title %}
    Releases {{ super() }}
{% endblock %}

{% block main_body %}
  <div class="row">
      <div class="col-sm-9">
          <h2 class="without-pills">Releases</h2>
          <p>The latest releases (as well as earlier releases) of CLiC can be viewed and downloaded from
              <a href="https://github.com/CentreForResearchInAppliedLinguistics/clic/releases">our Github code repository</a>.
          </p>
      </div>
      {% include "blocks/feedback.html" %}
   </div>


{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
