<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.nottingham.ac.uk/favicon.ico">

    <title>{% block title %} | CLiC{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Custom CSS-->
    <link href="{{ url_for('static', filename='css/clic.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<div class="container">
    <img class="pull-right" src="{{ url_for('static', filename='img/uonlogo.png') }}">

    <div class="header">
        <h1 class="uonHeaderh1">CLiC</h1>

        <p class="hidden-xs">A corpus tool to support the analysis of literary texts</p>
    </div>
</div>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">CLiC</a>-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('static', filename='clusters.html') }}">Clusters</a></li>
                <li{% if active_page == 'concordances' %} class="active"{% endif %}><a href="{{ url_for('concordances') }}">Concordance</a></li>
                <li{% if active_page == 'keywords' %} class="active"{% endif %}><a href="{{ url_for('keywords') }}">Keywords</a></li>
                <li{% if active_page == 'about' %} class="active"{% endif %}><a href="{{ url_for('static', filename='about.html') }}">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!--container-->
<div class="container">
    {% block body %}
    {% endblock %}
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>

<!--Generic JS-->
{% block scripts %}
<script src="{{ url_for('static', filename='js/clic.js') }}"></script>
{% endblock %}

</body>
</html>
