<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}
    {% endblock %}
    <link rel="shortcut icon" href="http://www.nottingham.ac.uk/favicon.ico">

    <title>{% block title %} | CLiC{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Custom CSS-->
    <link href="{{ url_for('static', filename='css/clic.css') }}" rel="stylesheet">
    {% endblock %}


</head>

<body>

<!-- http://stackoverflow.com/a/18602200
Undoes the center alignment of the logos add the bottom of the page  when the device is too small
-->
<style>
   @media all and (max-width: 700px) {
      .img-no-center {
         display: block !important;
         float:left !important;
         margin-left: 0px !important;
         margin-right: 0px !important;
      }
   }

/* rectangular rather than rounded corners */
* {
  border-radius: 0 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #036;
}

</style>

<div class="container">

    <img class="pull-right hidden-xs" style="margin-top:32px" src="{{ url_for('static', filename='img/uonlogo_top.png') }}" />
    <img style="padding-top: 0.15em; padding-right:0.3em; margin-top:32px" class="pull-right hidden-xs" src="{{ url_for('static', filename='img/AHRC10th_horiz_small_RGB_top.png') }}" />
    <img style="padding-top: 0.25em; margin-top:32px; padding-right:0.3em;" class="pull-right hidden-xs" src="{{ url_for('static', filename='img/university_of_birmingham_small_top.jpg') }}" />

    <div class="header">
        <h1 class="uonHeaderh1"><a href="/" style="color:#000">CLiC</a></h1>

        <p class="hidden-xs">A corpus tool to support the analysis of literary texts</p>
    </div>
</div>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if active_page == 'concordances' %} class="active"{% endif %}><a href="{{ url_for('concordances') }}">Concordance</a></li>
                <li{% if active_page == 'keywords' %} class="active"{% endif %}><a href="{{ url_for('keywords') }}">Keywords</a></li>
                <li{% if active_page == 'clusters' %} class="active"{% endif %}><a href="{{ url_for('clusters') }}">Clusters</a></li>
                <li{% if active_page == 'subsets' %} class="active"{% endif %}><a href="{{ url_for('subsets') }}">Subsets</a></li>
                <li{% if active_page == 'patterns' %} class="active"{% endif %}><a href="{{ url_for('patterns') }}">Patterns</a></li>
                <li><a href="/annotation" >User Annotation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right right-nav-background">
                <li class="dropdown navbar-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="trye" aria-expanded="false">Help<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li{% if active_page == 'definitions' %} class="active"{% endif %}><a href="{{ url_for('definitions') }}">Definitions</a></li>
                        <li{% if active_page == 'documentation' %} class="active"{% endif %}><a href="{{ url_for('documentation') }}">Documentation</a></li>
                        <li{% if active_page == 'about' %} class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
                        <li{% if active_page == 'blog' %} class="active"{% endif %}><a href="{{ url_for('blog') }}">News and blog</a></li>
                        <li{% if active_page == 'releases' %} class="active"{% endif %}><a href="{{ url_for('releases') }}">Releases</a></li>
                    </ul>
               </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!--container-->
<div class="container">
    {% block page_body %}
    {% block main_body %}
    {% endblock %}
    {% endblock %}
</div>
<!-- /.container -->

<!-- logos -->
<div class="footer hidden-sm hidden-md hidden-lg">
    <div class="container" style="border-top:1px solid #ccc; margin-top:10em">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <img style="padding-top: 1em; display: block; float:left; margin-left:-12px" class="img-no-center" src="{{ url_for('static', filename='img/university_of_birmingham_small.jpg') }}" />
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <img style="padding-top: 0.2em; display: block; margin: 0 auto; float:none" class="img-no-center" src="{{ url_for('static', filename='img/AHRC10th_horiz_small_RGB.png') }}" />
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                    <img style="display: block; margin: 0 auto; float:right; margin-right:-22px" class="img-no-center"  src="{{ url_for('static', filename='img/uonlogo.png') }}" />
                </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/clic.js') }}"></script>
{% endblock %}


<!-- Analytics =================================================== -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68645501-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
